config:
  dockerfile: .woloxci/Dockerfile
  project_name: <%= projectName %>
<% if(orm.sequelize) {%>
services:
  - <%= sequelizeDialect %>
<%}%>
steps:
  copy_node_modules:
    - cp -r $NODE_PATH/ ./<% if(orm.sequelize) {%>
  migrate_db:
    - node_modules/.bin/sequelize db:migrate<%}%>
  lint:
    - npm run lint
  test:
    - npm run test

environment:
  GIT_COMMITTER_NAME: a
  GIT_COMMITTER_EMAIL: b
  LANG: C.UTF-8
