doctype html
html
  head
    title Mishu!
    meta(charset='UTF-8')
    base(href='/')
    link(href='all.css' rel='stylesheet')
    script(src='vendors.js')
    script(src='all.js')
  body(ng-app='app-angular')
    div
      h1
        | MISHU
